.message {
  font-size: 1.6rem;
  border-radius: $radius;
  padding: 1.2rem 1.6rem;
  margin-bottom: 1rem;

  &--red {
    color: $red;
    background-color: rgba($red, 0.16);
  }

  &--blue {
    color: $blue;
    background-color: rgba($blue, 0.16);
  }
}
