$trans: 250ms ease-in-out;

$font: 'DM Sans', sans-serif;

$white: #ffffff;
$black: #000000;
$black-light: #666666;

$blue: #65b6de;
$gray: #dfe1e8;
$gray-dark: darken($gray, 20%);
$ice: #f8f9fb;
$red: #e14b4b;

$border: $gray-dark;
$radius: 0.4rem;
